# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.idea/
.metadata/.lock
.metadata/.mylyn/.taskListIndex/
.metadata/.mylyn/contexts/
.metadata/.plugins/org.eclipse.core.resources/
.metadata/.plugins/org.eclipse.core.runtime/
.metadata/.plugins/org.eclipse.debug.core/
.metadata/.plugins/org.eclipse.debug.ui/
.metadata/.plugins/org.eclipse.e4.workbench/
.metadata/.plugins/org.eclipse.emf.common.ui/
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/
.metadata/.plugins/org.eclipse.jdt.core/
.metadata/.plugins/org.eclipse.jdt.debug.ui/
.metadata/.plugins/org.eclipse.jdt.launching/
.metadata/.plugins/org.eclipse.jdt.ui/
.metadata/.plugins/org.eclipse.ltk.core.refactoring/
.metadata/.plugins/org.eclipse.ltk.ui.refactoring/
.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.5.0.20140606-0033.xml
.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.6.2.20150902-0002.xml
.metadata/.plugins/org.eclipse.mylyn.bugzilla.core/
.metadata/.plugins/org.eclipse.mylyn.context.core/
.metadata/.plugins/org.eclipse.mylyn.tasks.ui/
.metadata/.plugins/org.eclipse.oomph.setup.ui/
.metadata/.plugins/org.eclipse.oomph.setup/
.metadata/.plugins/org.eclipse.pde.api.tools/
.metadata/.plugins/org.eclipse.pde.core/
.metadata/.plugins/org.eclipse.rse.core/initializerMarks/
.metadata/.plugins/org.eclipse.rse.core/profiles/
.metadata/.plugins/org.eclipse.team.cvs.core/
.metadata/.plugins/org.eclipse.ui.ide/
.metadata/.plugins/org.eclipse.ui.intro/
.metadata/.plugins/org.eclipse.ui.workbench/
.metadata/.plugins/org.eclipse.wst.common.modulecore/
.metadata/.plugins/org.eclipse.wst.jsdt.core/
.metadata/.plugins/org.eclipse.wst.jsdt.ui/
.metadata/.plugins/org.eclipse.wst.server.core/
.metadata/version.ini
.recommenders/caches/
.recommenders/index/
.recommenders/repository/http___download_eclipse_org_recommenders_models_luna_/org/eclipse/recommenders/index/0.0.0-SNAPSHOT/_remote.repositories
.recommenders/repository/http___download_eclipse_org_recommenders_models_luna_/org/eclipse/recommenders/index/0.0.0-SNAPSHOT/maven-metadata-models.xml
.recommenders/repository/http___download_eclipse_org_recommenders_models_luna_/org/eclipse/recommenders/index/0.0.0-SNAPSHOT/resolver-status.properties
RemoteSystemsTempFiles/
kaige/.classpath
kaige/.project
kaige/.settings/
kaige/src/
kk/
out/production/workspace/META-INF/
out/production/workspace/pro.properties
src/CASTest.java
src/Main.java
src/SencondDay/
src/SpinLockDemo.java
src/ThirdDay/
src/caculation.java
src/chengfakoujue.java
src/javaTest/
src/pro.properties
src/shengxiao.java
workspace.iml
.metadata/.plugins/org.eclipse.core.resources/.history/12/
.metadata/.plugins/org.eclipse.core.resources/.history/20/
.metadata/.plugins/org.eclipse.core.resources/.history/3b/
.metadata/.plugins/org.eclipse.core.resources/.history/6b/
.metadata/.plugins/org.eclipse.core.resources/.history/74/
.metadata/.plugins/org.eclipse.core.resources/.history/7a/
.metadata/.plugins/org.eclipse.core.resources/.history/95/
.metadata/.plugins/org.eclipse.core.resources/.history/a2/
.metadata/.plugins/org.eclipse.core.resources/.history/a3/
.metadata/.plugins/org.eclipse.core.resources/.history/ae/
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/
.metadata/.plugins/org.eclipse.core.resources/.projects/kaige/org.eclipse.jdt.apt.core/
.metadata/.plugins/org.eclipse.pde.core/.p2/
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/
kk/bin/
kk/src/
